/* STATS */
.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 25px 0;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
}

.card_title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #94a3b8;
}

.card_title i {
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
}

.card_title p {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.card h3 {
    font-size: 28px;
    margin: 10px 0;
}

.card .change-percent {
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 10px;
}

.card_stats {
    display: flex;
    align-items: center;
    gap: 15px;
}

.card span {
    color: grey;
    font-style: italic
}

/* CONTENT */
.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.box {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
}

.box-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.box_title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.large {
    height: 310px;
}

.chart-placeholder {
    margin-top: 20px;
    height: 80%;
    border-radius: 10px;
    color: #94a3b8;
    padding-bottom: 15px;
}

/* BAR CHART  */
.chart-box {
    background: #020617;
    padding: 20px;
    border-radius: 12px;
    color: #fff;
}

.bar-chart {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 20px 25px;
    height: 100%;
}

.bar-item {
    width: calc(80%/7);
    text-align: center;
    height: 100%;
    margin-top: 15px;
}

.bar {
    background: #00C8B3;
    border-radius: 6px 6px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 0.3s;
}

.bar span {
    font-size: 12px;
    padding-bottom: 6px;
    color: #fff;
}

.bar-item label {
    display: block;
    font-size: 13px;
    color: #94a3b8;
}

/* CIRCLE */
.donut {
    width: 160px;
    height: 160px;
    margin: 20px auto;
    border-radius: 50%;
    background:
        conic-gradient(#00C8B3 0 var(--valid),
            #FF2D55 var(--valid) 100%);
    position: relative;
}

.donut::before {
    content: "";
    position: absolute;
    background-color: #fff;
    inset: 18px;
    border-radius: 50%;
}

.donut span {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
    z-index: 1;
}

.legend_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 15px;
    text-align: center;
}

.legend_box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
}

.legend_box i {
    margin-right: 8px;
}

.legend_box:first-child i {
    color: #00C8B3;
}

.legend_box:nth-child(2) i {
    color: #FF2D55;
}

/* TABLE */
.table-box {
    margin-top: 25px;
    padding: 20px;
    border-radius: 12px;
    background: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
.table-box tr:first-child {
    background-color: #E9EAEC;
}
th,td {
    padding: 12px;
    text-align: left;
    color: #000000;
    border-bottom: 1px solid lightgray;

}


/* TOP POST  */
.top_post_container {
    display: grid;
    grid-template-columns: 150px auto;
    gap: 15px;
    margin-top: 25px;
}

.top_post_img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.top_post_content h4 {
    font-size: 16px;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}