
/* MAIN */
.main {
    flex: 1;
    padding: 20px 30px;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    color: #94a3b8;
}

.avatar {
    width: 32px;
    height: 32px;
    background: #6366f1;
    border-radius: 50%;
}

/* TITLE */
.title {
    margin: 20px 0;
    position: relative;
}

.title p {
    color: #94a3b8;
    margin-top: 6px;
}

.export {
    position: absolute;
    right: 0;
    top: 0;
    background: #1e293b;
    border: none;
    color: #fff;
    padding: 10px 14px;
    border-radius: 8px;
}

/* STATS */
.stats {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.stat {
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    position: relative;
}

.stat i {
    position: absolute;
    right: 16px;
    bottom: 16px;
    opacity: .3;
}

.waiting { color: #facc15; }
.done { color: #22c55e; }
.deleted { color: #ef4444; }


.filter {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.filter input,
.filter select {
    background: #fff;
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: #A0AEC0;
}
.filter button {
    background: #2563eb;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

/* TABLE */
.table-box {
    margin-top: 25px;
    padding: 20px;
    border-radius: 12px;
    background: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
.table-box tr:first-child {
    background-color: #E9EAEC;
}
th,td {
    padding: 12px;
    text-align: left;
    color: #000000;
    border-bottom: 1px solid lightgray;
}

/* TAGS */
.tag {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
}
.reporter-info {
    display: grid;
    grid-template-columns: 30px auto;
    gap:10px;
    align-items: center;
}
.reporter-info div p:nth-child(2) {
    color: lightgrey;  /* Email color */
    font-size: 12px;
}


.reporter-content p:nth-child(2) {
    color: #2464D2;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
}
.reporter-content p:nth-child(3) {
    color: lightgrey;
    font-size: 12px;
}
.red { background: #FFEDEC; color: #E03137;}
.orange { background: #FFF6D3; color: #E6BB20;}
.purple { background: #4c1d95; color: #fff;}
.gray { background: #7a7f87; color: #fff; }
.green { background: #E7F7EF; color: #0CAF60;}
/* STATUS */
.status {
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 12px;
}
/* ACTIONS */
.actions i {
    margin-right: 10px;
    cursor: pointer;
}

/* PAGINATION */
.pagination {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    color: #94a3b8;
}

.pagination button {
    background: #020617;
    border: none;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
}

.pagination button.active {
    background: #2563eb;
}
